[Unit]
Description=Telegram Media Syncer Daemon (Linux)
After=network.target network-online.target
Wants=network-online.target

[Service]
Type=simple
User=root
WorkingDirectory=/root/telegram-video-syncer
ExecStart=/root/telegram-video-syncer/venv/bin/python3 /root/telegram-video-syncer/main.py live

Restart=always
RestartSec=10

StandardOutput=journal
StandardError=journal
SyslogIdentifier=telegram-syncer

[Install]
WantedBy=multi-user.target
