[Desktop Entry]
Version=1.0
Type=Application
Name=Telegram Medya Aktarıcı
Comment=Telegram kanallarından kısıtlı video ve fotoğrafları indirip aktaran uygulama
Exec=bash -c "cd $(dirname %k) && ./run.sh"
Icon=telegram
Terminal=true
Categories=Network;Utility;
Keywords=telegram;video;downloader;sync;pardus;
